{% load i18n %}

<script type="text/javascript">

function displayDetails(docid) {
  console.log(docid);
  $("#docdetails").modal();
  var url = "{% url 'api:document' pk=0 %}";
  url = url.substring(0, url.length-1);
  url += docid.toString();
  $.ajax({
    url: url,
    dataType: "json"
  }).done(function (data) {
    console.log(data);
    for (k in data) {
      $("#dd_"+k).text(data[k]);
    }
  });
}

</script>

<div class="modal" id="docdetails" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">#<a id="dd_id"></a>: <a id="dd_title"></a></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <b>{% trans "Date" %}</b>: <a id="dd_date"></a><br>
        <b>{% trans "Subtitle" %}</b>: <a id="dd_subtitle"></a><br>
        <b>{% trans "Subhead" %}</b>: <a id="dd_subhead"></a><br>
        <b>{% trans "Type" %}</b>: <a id="dd_type"></a><br>
        <b>{% trans "Source id" %}</b>: <a id="dd_source_id"></a><br>
        <b>{% trans "Source language" %}</b>: <a id="dd_source_language"></a><br>
        <b>{% trans "Page" %}</b>: <a id="dd_page"></a><br>
        <b>{% trans "Headlines" %}</b>: <a id="dd_headlines"></a><br>
        <b>{% trans "Text" %}</b>: <textarea id="dd_text" style="min-width:80%; height:100px;"></textarea>
      </div>
    </div>
  </div>
</div>
