{% extends "base.html" %}{% load i18n %}
{% block title %}{% trans "Experiments list" %}{% endblock %}

{% block content %}
<div class="row">
  <div class="col-lg-6"><h1>{% trans "Experiments list" %}</h1></div>
  <div class="col-lg-6 text-right"><a href="{% url 'new-experiment' %}" class="btn btn-lg btn-success"><i class="fas fa-plus"></i></a></div>
</div>

<br>

<table class="table table-striped" id="tb">
  <thead>
    <tr>
      <th>{% trans "#" %}</th>
      <th>{% trans "Experiment name" %}</th>
      <th><i class="fas fa-info" aria-hidden="true"></i></th>
    </tr>
  </thead>
</table>


<script type="text/javascript">
  $("#tb").DataTable({
    "ajax": "{% url 'api:list' %}"
  });
</script>


{% endblock %}
