{% extends "base.html" %}{% load i18n %}
{% block title %}{% trans "Launch new experiment" %}{% endblock %}

{% block content %}
<h1>{% trans "Launch new experiment" %}</h1>

{{form.as_p}}


<script type="text/javascript">

document.HYPERPARAMETERS = {{HYPERPARAMETERS|safe}};


function load_hyperparameters() {
  var current = $("#id_classifier").val();
  $("#id_hyperparameters").html("");
  for (k in document.HYPERPARAMETERS[current]) {
    line = document.HYPERPARAMETERS[current][k];
    $("#id_hyperparameters").append("<option value='"+line[0]+"'>"+line[1]+"</option>");
  }
}


$("#id_classifier").change(load_hyperparameters);

$(document).ready(load_hyperparameters);

</script>

{% endblock %}
